{% resource "rating_css/rating.css" %}

{% ckan_extends %}

{% block heading_title %}
    {{ h.link_to(h.truncate(title, truncate_title), h.url_for(controller='package', action='read', id=package.name)) }}
    {% set rating = h.package_rating_template({'package_id' : package.id} ) %}
        <div class="dataset-rating">
            {% if rating.rating == True %}<i class="user-rating-star glyphicon glyphicon-thumbs-up recommended-search-dataset"></i> {{rating.ratings_count}}
            {% else %}<i class="user-rating-star glyphicon glyphicon-thumbs-up "></i>
            {% endif %}
        </div>
{% endblock %}