{#
Renders a complete block of rating snippets

package  - The package for which the rating is displayed

    {% snippet "rating/snippets/rating.html", package=pkg %}
#}

{% resource "rating_css/rating.css" %}
{% if h.show_rating_in_type(package.type) %}
    <div class="rating">
        {% block user_rating %}
          {% if h.check_access('check_access_user')  %}
            <div class="rating-container">
              {%- snippet "rating/snippets/stars.html", package=package -%}
              {% block user_rating_br %}<br>{% endblock %}
            </div>
          {% else %}
            <div class="login-rating-details">
              <a href="{{ h.url_for('login') }}">{{ _('Login') }}</a> {{ _('to leave a rating') }}
            </div>
          {% endif %}
        {% endblock %}
    </div>
{% endif %}
