{#
Renders a set of stars, which can be clicked to submit a rating

stars  - The number of stars to be displayed.
package  - The package for which the rating belongs to

    {% snippet "rating/snippets/stars.html", package=pkg %}

#}

{% resource "rating_css/rating.css" %}
{% resource "rating_js/rating.js" %}

{% set action = 'submit_package_rating' %}
{% if package.type == 'showcase' %}
  {% set action = 'submit_showcase_rating' %}
{% endif %}

{% set stars = h.get_user_rating(package.id) %}
<span class="star-rating">
  <span class="star-rating-stars">

    <h2 class="heading">{{ _('Favourite') }}
    {% if stars == True %}
      <a class="icon icon-star rating-star glyphicon glyphicon-star" href="{{ h.url_for(controller='ckanext.rating.controller:RatingController', action=action, package=package.name, rating=False) }}"></a>
    {% else %}
      <a class="icon icon-star-empty rating-star glyphicon glyphicon-star-empty" href="{{ h.url_for(controller='ckanext.rating.controller:RatingController', action=action, package=package.name, rating=True) }}"></a>
    {% endif %}
    </h2>
  </span>
</span>